@{
  Layout = "_Layout";
}

@{
    ViewData["Title"] = "Student Tracker Client";
}

@using TrackerClient.Models

<div class="button-area">
    <a href='@Url.Action("Index", "Students")'>
        <button>See All Child Students</button>
    </a>
     <a href='@Url.Action("Index", "Adults")'>
        <button>See All Adult Students</button>
    </a>
    <a href='@Url.Action("Index", "Coaches")'>
        <button>See All Coaches</button>
    </a>
</div>