@{
    ViewData["Title"] = "Student Tracker Client";
}

@using TrackerClient.Models

<h3>Students:</h3>
@if (ViewBag.Students.Count != 0)
{
    <ul id="home-student-list" class="student-list">
        @foreach (Student student in ViewBag.Students) {
            <div>@student.FirstN @student.LastN</div>
        }
    </ul>
}
else 
{
    <p>No students found.</p>
}
@if (User.Identity.IsAuthenticated) {
    <button class="green">Create a new Student</button>
}

<h3>Coaches:</h3>
@if (ViewBag.Coaches.Count != 0)
{
    <ul id="home-coach-list" class="coach-list">
        @foreach (Coach coach in ViewBag.Coaches) {
            <div>@coach.FirstN @coach.LastN</div>
        }
    </ul>
}
else 
{
    <p>No students found.</p>
}
@if (User.Identity.IsAuthenticated) {
    <button class="green">Create a new Coach</button>
}