<header>
  <h1><a href="/">Student Tracker Client</a></h1>
  <div id="header-button-area">
    @if (User.Identity.IsAuthenticated) {
        <p>logged in as <span class="highlighted">@User.Identity.Name</span></p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <button type="submit" class="red">Log out</button>
        }
    } else {
      @await Html.PartialAsync("LoginRegisterModal")
      <button onclick="showModal('login-register-modal')" class="green">Log in / Register</button>  
    }
  </div>
</header>