@model TrackerClient.ViewModels.LoginViewModel

<div class="floating-errors">
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new { @class = "error-list login"})
</div>

<script src="~/js/scripts.js" asp-append-version="true"></script>
<script>
  showModal('login-register-modal');
</script>
